{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} -  {{ 'views.edit.edit'|trans({'%entity%': 'Certificacion'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

    <h3 style="color: #0044cc">Modificar Certificación de: </h3><h4>
        {{ entity.becadobeca.becado.apellidos }}, 
        {{ entity.becadobeca.becado.nombres }} 
        Dni: {{ entity.becadobeca.becado.dni }}</h4>

<form class="well" action="{{ path('certificacion_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    {{ form_start(edit_form) }}
        <table>
            <tbody>
            <div class="form-row">
                <tr>
                    <td>
                        {{ form_label(edit_form.becatipo, 'Tipo de Beca') }}
                        {{ form_widget(edit_form.becatipo) }}
                    </td>
                    <td>
                        {{ form_label(edit_form.becafuncion, 'Función') }}
                        {{ form_widget(edit_form.becafuncion) }}
                        {#{{ form_widget(edit_form.becafuncion, { 'attr': {'readonly': 'readonly'} }) }}#}
                    </td>
                    <td>
                        <div style="display:none"
                             {{ form_row(edit_form.becadobeca) }}
                        </div>
                    {{ form_label(edit_form.mesCertificacion, 'Mes Certificación') }}
                    {{ form_widget(edit_form.mesCertificacion) }}

                </td>
                <td>
                    {{ form_label(edit_form.monto, 'Monto Beca') }}
                    {{ form_widget(edit_form.monto) }}
                </td>
                <td>
                    {{ form_label(edit_form.descuentoDias, 'Días de Descuento') }}
                    {{ form_widget(edit_form.descuentoDias) }}

                </td>
            </tr>                
        </div>
        <div class="form-row">
            <tr>

                <td>
                    {{ form_label(edit_form.totalPagar, 'Total a Pagar') }}
                    {{ form_widget(edit_form.totalPagar, {'attr': {'onfocus':'totalPagar();'}}) }}
                </td>
                <td colspan="2" style="alignment-adjust: middle">
                    {{ form_row(edit_form.certificado) }}

                </td>
            </tr>

        </div>

        </tbody>
    </table>
    
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
    {{ form_end(edit_form) }}
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('certificacion', {'toexcel':'false'}) }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('certificacion_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle')|escape('js') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% block javascript %}                
    {% javascripts '@CertificacionBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% endblock %}