{% macro formacion(form) %}
    <div class="row-fluid">
            <div class="span4">
                {{ form_row(form.institucion) }}
            </div>
            <div class="span4">
                {{ form_row(form.nivelEducativo) }}
            </div>
            
            <div class="span4">
                {{ form_row(form.profesion) }}
            </div>
            
            <div class="span4">
                {{ form_row(form.oficio) }}
            </div>
            
            <div class="span4">
                {{ form_row(form.perfil) }}
            </div>
            
            <div class="span4">
                {{ form_row(form.descripcion) }}
            </div>
            <div class="span2">
                <a class='delete-form btn btn-mini btn-danger' href='#'><i class='icon-remove-circle'></i> </a>
            </div>
    </div>
{% endmacro %}
<a href="../../../../../../../.gitignore"></a>