{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} -  {{ 'views.edit.edit'|trans({'%entity%': 'BecadoBeca'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>{{ 'views.edit.edit'|trans({'%entity%': 'BecadoBeca'}, 'JordiLlonchCrudGeneratorBundle') }}</h1>

<form class="well" action="{{ path('becadobeca_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT" />
    <table>
        <tbody>
            <tr class="form-horizontal">
                <td>{{ form_row(edit_form.becado, {'attr':{'style':'width:100%; cursor: not-allowed; length: 1;', 'readonly':'true' }} ) }}</td>
                {% if edit_form.beca.vars.value is not empty %}
                    <td>
                    {{ form_row(edit_form.beca, {'attr':{'style':'width:90%;'}}) }}
                    
                    <a class="btn btn-mini" href="{{ path('beca_show', { 'id': edit_form.beca.vars.value  }) }}">
                        {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                    </a>
                    {% else %}
                        <div style="display:none">
                            {{ form_row(edit_form.beca, {'attr':{'style':'width:90%;'}}) }}
                        </div>
                    </td>
                    {% endif %}
                        
                
                <td>{{ form_row(edit_form.becaVulnerable, {'attr':{'style':'width:100%;'}}) }}
                    <a class="btn btn-mini" href="{{ path('becavulnerable_show', { 'id': edit_form.becaVulnerable.vars.value  }) }}">
                        {{ 'views.actions.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                    </a>
                    {#<a class="btn btn-mini" href="{{ path('becavulnerable_edit', { 'id': entity.id }) }}">
                        {{ 'views.actions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                    </a>  #}          
                </td>
            </tr>
            <tr>
                <td>{{ form_row(edit_form.fechaAlta) }}</td>
                <td>{{ form_row(edit_form.fechaBaja) }}</td>
                <td>{{ form_row(edit_form.activo) }}</td>
            </tr>
            <tr>
                <td colspan='3'>{{ form_row(edit_form.detalles, {'attr':{'style':'width:100%;'}}) }}</td>
            </tr>
        </tbody>
    </table>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit" class="btn btn-success">{{ 'views.edit.editbutton'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
    </p>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('becadobeca') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('becadobeca_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle')|escape('js') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}