{% macro formacion(formac) %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/persona/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
        {{ form_stylesheet(formac) }}
    {% endblock %}

    {% block javascript %}
        {% javascripts 
            '@PersonaBundle/Resources/public/js/select2.js'
            '@FormacionBundle/Resources/public/js/select2Formacion.js'
        %}  
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {{ form_javascript(formac) }}
        {% endjavascripts %}
    {% endblock %}
    <style>
        .negrita{
            font-weight: bold;
        }
        .tablafondo{
            background: #D3D3D3;
            border-top: 1px solid #000;
           
        }
        .bordediv{
            padding-left: 10px;
             
        }
        .bordehidden{
            border-bottom: 1px solid #000; 
            display: none;
        }
    </style>
    <div class="row-fluid bordediv">
        <table class="tablafondo">
            <tbody>
                <tr>
                    <td>
                        <div class="span7">
                            {{ form_label(formac.institucion, 'Instituci贸n', {'label_attr': {'class': 'negrita'}}) }}
                            {{ form_widget(formac.institucion) }}
                        </div>
                    </td>
                    <td>
                        <div class="span7">
                            {{ form_label(formac.nivelEducativo, 'Nivel Educativo', {'label_attr': {'class': 'negrita'}}) }}
                            {{ form_widget(formac.nivelEducativo) }}
                        </div>
                    </td>
                    <td>
                        <div class="span7">
                            {{ form_label(formac.profesion, 'Profesi贸n', {'label_attr': {'class': 'negrita'}}) }}
                            {{ form_widget(formac.profesion) }}
                        </div>                        
                    </td>
                    
                </tr>
                <tr class="form-horizontal">
                    <td>
                        <div class="span7">
                            {{ form_label(formac.oficio, 'Oficio', {'label_attr': {'class': 'negrita'}}) }}
                            {{ form_widget(formac.oficio) }}
                        </div>
                    </td>
                    <td>
                        <div class="span7">
                            {{ form_label(formac.perfil, 'Perfil', {'label_attr': {'class': 'negrita'}}) }}
                            {{ form_widget(formac.perfil) }}
                        </div>
                    </td>
                    <td>
                        <div class="span7">
                            {{ form_label(formac.descripcion, 'Descripci贸n', {'label_attr': {'class': 'negrita'}}) }}
                            {{ form_widget(formac.descripcion) }}
                        </div>
                    </td>
                </tr>
        </tbody>            
        </table>
        <div class="span2">
            <a class='delete-form btn btn-mini btn-danger' href='#'><i class='icon-remove-circle'></i>Quitar Formaci贸n </a>
        </div>
    </div>
{% endmacro %}
