{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}
{% import "PersonaBundle:Form:macro.formacion.html.twig" as macrosFormacion %}
{% import "PersonaBundle:Form:macro.domicilio.html.twig" as macrosDomicilio %}
{% block title %}
    {{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Becado'}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('bundles/persona/css/jquery-ui.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/persona/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
        {{ form_stylesheet(form) }}
    {% endblock %}
    
    {% block javascript %}
        <script src="{{ asset('bundles/jordillonchcrudgenerator/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        {% javascripts            
            '@PersonaBundle/Resources/public/js/jquery-ui.js'   
            '@PersonaBundle/Resources/public/js/agregarDomicilio.js'
            '@PersonaBundle/Resources/public/js/agregarFormacion.js'
            '@PersonaBundle/Resources/public/js/addForm.js'  
            '@PersonaBundle/Resources/public/js/deleteRow.js'
            '@PersonaBundle/Resources/public/js/select2.js'
            '@PersonaBundle/Resources/public/js/select2Becado.js'   
            '@PersonaBundle/Resources/public/js/dalert.jquery.min.js'
            '@PersonaBundle/Resources/public/js/ajax-functions.js'
        %}
        
        {{ form_javascript(form) }}
        <script type="text/javascript" src="{{ asset_url }}"></script>   
        {% endjavascripts %}
    {% endblock %}
    <h2 style="color: #0044cc">Nuevo Becado</h2>

    <form class="well" action="{{ path('becado_create') }}" method="post" {{ form_enctype(form) }}>
        {# Aplicando theming al formulario alumno #}
        {#{% form_theme form 'PersonaBundle:Form:becado.theming.html.twig' %}
        {{ form(form) }}#}
        {#{{ form_widget(form) }}#}
        {{ form_start(form) }}
        <table>
            <tbody>
            <fieldset style="border:1px solid; background-color: #3a8104; color: #000;"><h4>Datos Personales</h4>
                <tr class="form-horizontal">            
                    <td>
                        {{ form_label(form.dni) }}
                        {{ form_widget(form.dni, { 'attr':{ 'style': 'width:100px', 'placeholder':'documento'} }) }}   
                        <a class="btn btn-primary" onclick="ajaxDni();" href="#">Buscar</a>
                    </td>                    
                    <td>{{ form_row(form.apellidos) }}</td>
                    <td>{{ form_row(form.nombres) }}</td>
                    <td>
                        {{ form_label(form.telefono, 'Teléfono') }}
                        {{ form_widget(form.telefono) }}
                    </td>                    
                </tr>
                <tr>
                    <td colspan="4">
                        {{ form_row(form.email) }}
                    </td>
                </tr>
            </fieldset>
            </tbody>
        </table>
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <fieldset style="border:1px solid; background-color: #9fda58 ">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#domicilioCollapse" style="color: #000">
                                Domicilio
                            </a>
                        </h4>
                    </fieldset>
                </div>
                <div id="domicilioCollapse" class="panel-collapse collapse in">
                    <div class="row-fluid">
                        {{ form_errors(form.domicilio) }}
                        <div data-prototype="{{ macrosDomicilio.domicilio(form.domicilio.vars.prototype)|e }}" class="row-fluid domicilio">
                            {% for domi in form.domicilio %}
                                {{ macrosDomicilio.domicilio(domi) }}
                            {% endfor %}
                        </div>
                        <a href='#' class='btn add-domicilio-form'>
                            <i class='icon-pencil'></i> Agregar Domicilio 
                        </a>
                    </div> 
                </div>
            </div>
        </div>
        {#{{ form_row(form.becadobeca) }}#} 
        <fieldset style="border:1px solid; background-color: #3a8104; color: #000;">
            <h4>Movimiento/Afectación/Dependencia</h4>
        </fieldset>
        {{ form_row(form.referente) }}
        {{ form_row(form.lugarAfectacion) }}
        {{ form_row(form.dependencia) }}
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <fieldset style="border:1px solid; background-color: #9fda58; color: #000;">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#formacionCollapse" style="color: #000">
                                Formación
                            </a>
                        </h4>
                    </fieldset>
                </div>
                <div id="formacionCollapse" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row-fluid">
                            {{ form_errors(form.formacion) }}
                            <div data-prototype="{{ macrosFormacion.formacion(form.formacion.vars.prototype)|e }}" class="row-fluid formacion">
                                {% for formac in form.formacion %}
                                    {{ macrosFormacion.formacion(formac) }}
                                {% endfor %}
                            </div>
                        </div> 
                        <a href='#' class='btn add-formacion-form'>
                            <i class='icon-pencil'></i> Agregar Formación
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <h4>Otros Datos</h4>
        {{ form_row(form.presentaCertificacion) }} {{ form_row(form.fechaAlta) }}
        {{ form_row(form.fechaBaja) }} {{ form_row(form.activo) }}
        {#PONGO ESTOS CAMPOS A HIDDEN YA QUE SI USO FORM_REST EN FORM END, BORRA TAMBIÉN LAS ENTITY#}
        <div style="display: none">
            {{ form_widget(form.formacion) }}
        </div>
        <div style="display: none">
            {{ form_widget(form.domicilio) }}
        </div>
        <div style="display: none">
            {{ form_widget(form.becadobeca) }}
        </div>
        <div style="padding-top: 15px;">
            <span class="divider-vertical">
                <button type="submit" class="btn btn-success">
                    {{ 'views.new.create'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
                </button>
            </span>
        </div>
        {{ form_end(form) }}
    </form>
    <div>
        <div class="float-left">
            <a class="btn" href="{{ path('becado') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
            </a>
        </div>
    </div>
{% endblock %}